.report{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #292b2e;
}
body,html{
    background-color: #292b2e;
}
ul{
    margin-bottom: 30px;
    padding-right: 50px;
}
pre{
    margin: auto;
}
li{
    list-style-type: none;
}
h1{
    font-size: 13px;
    font-weight: lighter;
}
h2{
    font-size: 15px;
    font-weight: lighter;
}
.itemTitleReport{
    background-color: #191b14;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.reportCategory{
    cursor: pointer;
    background-color: #191b1473;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.castle{
    z-index: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 136px;
}
.heroAndBug, img{
    z-index: 2;
}
.castle img{
    z-index: 1;
    height: 350px;
}